@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  // overflow: hidden;
  box-sizing: border-box;
  // height: 100vh;
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  // transition: background-color 0.2s;
}
:root {
  --color: #fff !important;
  --background-color: #202c36 !important;
}
.darkmode {
  color: var(--color);
  background-color: var(--background-color);
}
.darkmode header {
  background-color: #2b3844;
  transition: background-color 0.2s, color 0.2s;
}

.darkmode button {
  color: #fff;
}
///HEADER
///
///
///
///
header {
  transition: background-color 0.2s, color 0.2s;

  position: fixed !important;
  z-index: 1232435;
  width: 100%;
  margin-bottom: 48px;
  box-shadow: 0px 2px 4px 0px #0000000e;
  background-color: #fff;

  nav {
    padding: 23px 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      font-family: Nunito Sans;
      font-size: 24px;
      font-weight: 800;
      line-height: 32.74px;
      text-align: left;
    }
    button {
      cursor: pointer;
      color: #222;
      font-family: Nunito Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 21.82px;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 8px;
      border: none;
      background-color: transparent;
      img {
        cursor: pointer;
      }
    }
  }
  .darkmode button {
    color: #fff !important;
  }
}

///MAIN
///
///
main {
  padding-top: 130px;
}
// p {

// }
.wraper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px;
}
h1 {
  padding: 14px 0px 16px;
  padding-left: 24px;
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  text-align: left;
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
}

.card {
  height: 365px;
  max-width: 267px;
  width: 100%;
  transition: all 0.2s;
  // padding: 10px 0;
  box-shadow: 0px 0px 7px 2px #00000008;
  img {
    // max-width: 267px;
    width: 100%;
  }
}
.card:hover {
  transform: scale(1.01);
}
p {
  padding-bottom: 8px;
  padding-left: 24px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
.darkmode input {
  background-color: #2b3844;
  color: #fff;
}
.darkmode select {
  background-color: #2b3844;
  color: #fff !important;
}
.header_input {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    outline: none;
    cursor: pointer;
    color: #111517;
    margin-right: 3px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    border: none;
    box-shadow: 0px 0px 5px 2px #0000000e;
    padding: 18px 19px 18px 24px;
    outline: none;
  }
  .input_lef {
    display: flex;
    align-items: center;
    img {
      padding-left: 20px;
      position: absolute;
      cursor: pointer;
    }
    input {
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;

      box-shadow: 0px 2px 9px 5px #0000000e;
      border: none;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 60px;
      padding-right: 271px;
      border-radius: 4px;
      outline: none;
    }
  }
}

// media
@media (max-width: 708px) {
  .header_input {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    select {
      cursor: pointer;
      color: #111517;
      margin-right: 3px;
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      margin-top: 40px;

      border: none;
      box-shadow: 0px 2px 9px 0px #0000000e;
      padding: 18px 19px 18px 24px;
      outline: none;
    }
    .input_lef {
      display: flex;
      align-items: center;
      img {
        padding-left: 20px;
        position: absolute;
        cursor: pointer;
      }
      input {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        box-shadow: 0px 2px 9px 0px #0000000e;
        border: none;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 60px;
        padding-right: 271px;
        border-radius: 4px;
        outline: none;
      }
    }
  }
}

@media (max-width: 520px) {
  header {
    transition: background-color 0.2s, color 0.2s;

    position: fixed !important;
    z-index: 1232435;
    width: 100%;
    margin-bottom: 48px;
    box-shadow: 0px 2px 4px 0px #0000000e;
    background-color: #fff;

    nav {
      padding: 23px 0px 24px;
      display: flex;
      justify-content: space-between;
      h5 {
        font-family: Nunito Sans;
        font-size: 20px;
        font-weight: 800;
        line-height: 20px;
        text-align: left;
      }
      button {
        cursor: pointer;
        color: #111517;
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 21.82px;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;
        background-color: transparent;
        img {
          cursor: pointer;
        }
      }
    }
  }

  .header_input {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    select {
      cursor: pointer;
      color: #111517;
      margin-right: 3px;
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;

      border: none;
      box-shadow: 0px 2px 9px 0px #0000000e;
      padding: 18px 19px 18px 24px;
      outline: none;
    }
    .input_lef {
      display: flex;
      align-items: center;
      img {
        padding-left: 20px;
        position: absolute;
        cursor: pointer;
      }
      input {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        box-shadow: 0px 2px 9px 0px #0000000e;
        border: none;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 60px;
        padding-right: 150px;
        border-radius: 4px;
        outline: none;
      }
    }
  }
}

@media (max-width: 402px) {
  .header_input {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    select {
      cursor: pointer;
      color: #111517;
      margin-right: 3px;
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;

      border: none;
      box-shadow: 0px 2px 9px 0px #0000000e;
      padding: 18px 19px 18px 24px;
      outline: none;
    }
    .input_lef {
      display: flex;
      align-items: center;
      img {
        padding-left: 20px;
        position: absolute;
        cursor: pointer;
      }
      input {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        box-shadow: 0px 2px 9px 0px #0000000e;
        border: none;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 60px;
        padding-right: 90px;
        border-radius: 4px;
        outline: none;
      }
    }
  }
}

@media (max-width: 342px) {
  .header_input {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    select {
      cursor: pointer;
      color: #111517;
      margin-right: 3px;
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;

      border: none;
      box-shadow: 0px 2px 9px 0px #0000000e;
      padding: 18px 19px 18px 24px;
      outline: none;
    }
    .input_lef {
      display: flex;
      align-items: center;
      img {
        padding-left: 20px;
        position: absolute;
        cursor: pointer;
      }
      input {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        box-shadow: 0px 2px 9px 0px #0000000e;
        border: none;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 50px;
        padding-right: 60px;
        border-radius: 4px;
        outline: none;
      }
    }
  }

  header {
    transition: background-color 0.2s, color 0.2s;

    position: fixed !important;
    z-index: 1232435;
    width: 100%;
    margin-bottom: 48px;
    box-shadow: 0px 2px 4px 0px #0000000e;
    background-color: #fff;

    nav {
      padding: 23px 0px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h5 {
        font-family: Nunito Sans;
        font-size: 16px;
        font-weight: 800;
        line-height: 10px;
        text-align: left;
      }
      button {
        cursor: pointer;
        color: #111517;
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 21.82px;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;
        background-color: transparent;
        img {
          cursor: pointer;
        }
      }
    }
  }
}
